when i click on this "<div class="popup-overlay" id="popup-overlay">
    <div class="popup" id="popup1">
        <div class="popup-header">
            <span class="popup-close" id="popup-close">&times;</span>
            <h3>Part ‘XXXXXX’ anchor shackle does not fit part ‘XXXXXX’ insulator. Continue?</h3>
        </div>
        <button class="popup-btn blue">Yes</button>
        <button class="popup-btn yellow">Examine</button>
        <button class="popup-btn red">Cancel</button>
    </div>
</div>" popup any button then i want to show this popup "<div class="popup" id="popup2">
    <div class="popup-header">
        <span class="popup-close" id="popup-close">&times;</span>
        <h3>Fit check is within range</h3>
    </div>
    <button class="popup-btn blue">Continue</button>
    
</div>"